

body {
  background-image: url("https://i.pinimg.com/originals/64/99/fb/6499fbceda30cc9de9d688205cad4fb0.jpg")!important; 
  background-attachment: fixed;
}

html { margin-bottom: 65px }

#comment{
  min-height: 150px;
}



/* SideBar Formatting */
#sidebar{
  min-height: 100vh; 
  /* margin-left: 0px; */
}


/* Star Rating CSS */
input[type ="radio"]{
  display:none;
}

.star{
  color:white ;
  cursor: pointer;
  transition: colour 200ms;
  
}


.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}


/* Film Classification Table */
.Table{
width: 100%;
height: 80%;}

.DescriptionHeader{
width: 50%;


}



.screenCard{
  margin-left: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


